---
layout: post
---

{% if page.software %}
<p>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Project info
      </p>
    </header>
    <div class="field is-grouped is-grouped-multiline card-content">
      {% if page.software.url %}
      <div class="control">
        <a href="{{ page.software.url }}" class="button is-link">Get {{ page.title }}</a>
      </div>
      {% endif %}
      {% if page.software.github %}
      <div class="control">
        <a onclick="window.open('{{ page.software.github }}')" class="button is-link">
          <span class="icon is-large"><i class="fab fa-github fa-2x"></i></span>
          <span class="ml-2">Github</span>
        </a>
      </div>
      {% endif %}
      {% if page.software.licence %}
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-dark is-large">licence</span>
          <span class="tag is-info is-large">{{ page.software.licence }}</span>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</p>
{% endif %}

{{ content }}
